*{
margin:0;
padding:0;
box-sizing:border-box;
}

.cliarfix::after{
content:"";
display: block;
clear:both;
}

main{
margin:50px auto;
width:960px;
}

.box1{
float:left;
width:300px;
margin-right:30px;
padding:10px;
position: relative;
border:1px solid #f0f0f0;
}

.box1:last-child{
margin-right: 0;
}

.box-image1{
height:150px;
background-image: url(img3/flow01.png);
background-size:cover;
background-position: bottom;
}

.box-image2{
height:150px;
background-image: url(img3/flow02.png);
background-size:cover;
background-position: bottom;
}

.box-image3{
height:150px;
background-image: url(img3/flow03.png);
background-size:cover;
background-position: bottom;
}

.box-text{
position: absolute;
top:0;
left:0;
background-color: orange;
color:white;
padding:3px;
}

.title{
margin:15px 0 5px;
}

@media screen and (max-width:768px){
main{
width:90%;
margin:50px auto;
}


.box1{
float:none;
margin:0 auto;
}


.box-image1{
margin:0 auto;
height:110px;
}

.box-image2{
margin:0 auto;
height:110px;
}

.box-image3{
margin:0 auto;
height:110px;
}

.box-text{
text-align: center;
}

.title{
text-align: left;
}

.box1:nth-child(even){
margin:20px auto;
}

.box1:last-child{
margin-right:auto;
}

.line{
margin:0 auto;
}

.text{
font-size: 12px;
}